<div class="row">
  <div class="col-xs-5">
    <form #signup="ngForm" (ngSubmit)="onSignup(signup)">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel required class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel required class="form-control">
      </div>
      <button class="btn btn-success" type="submit">Sign Up!</button>
    </form>
  </div>
</div>

